<ion-modal-view class="order-modal">
    <ion-header-bar class="order-modal-header">
        <h1 class="title">用户入金</h1>
        <div class="close" ng-click="capital_deposit_modal.hide()">
            <i class="icon ion-ios-arrow-left"></i>
        </div>
    </ion-header-bar>
    <ion-content id="in_money_content">
    	<header>
    		<ul>
    			<li class="pay_channel" ng-repeat="paymes in pay_channel_lists">
					<ion-radio name="pay_type" ng-model="deposit.type" ng-value="'{{paymes.type}}'" class="{{paymes.pay_height}}" ng-change="changeuserbank(paymes)">
						<div class="pay_bank_list_header">
							<div class="kuang"></div>
							<i class="{{paymes.pay_bg}}"></i>
							<article>
								<p class="{{paymes.pay_color}}"><span class="{{paymes.pay_icon}}"></span><span>{{paymes.payment_title}}</span></p>
								<p ng-show="paymes.bank_list.length > 0 && deposit.type == paymes.type"><span class="iconfont {{inmoneybank.bankmes.icon}}"></span><span>{{inmoneybank.bankmes.bank_title}}</span></p>
							</article>
						</div>
			        </ion-radio>
			        <div ng-show="paymes.bank_list.length > 0 && deposit.type == paymes.type" class="pay_bank_list_content" >
						<ion-scroll style="height: 100%;" scrollbar-y="true" scrollbar-x="false">
							<ul>
								<li ng-repeat="item in paymes.pay_bank_list">
									<div class="kuang"></div>
									<ion-radio name="{{paymes.type}}" ng-model="inmoneybank.bankmes" ng-value="item" >
							            <p><span class="bankicon iconfont {{item.icon}}"></span><span>{{item.bank_title}}</span></p>
							        </ion-radio>
								</li>
							</ul>
						</ion-scroll>
					</div>
    			</li>
    		</ul>
    	</header>
    	<div class="out_money_content">
    		<article>
	        	<span>
	        		<i class="iconfont icon--5"></i>
	        		充值金额：
	        	</span>
	        	<input type="number" placeholder="请输入金额" ng-model="deposit.amount" ng-keydown="only_number()" required/>
	        </article>
	        <section ng-show="money_fee.inmoneymin !='0'">单次充值至少{{currency_symbol}}{{money_fee.inmoneymin}}起</section>
	        <footer>
	        	余额：<span>{{user.amount.toFixed(2)}}</span>
	        	手续费：<span ng-show="money_fee.inmoney_fee_type == 0">{{money_fee.inmoney_fee}}%</span>
	        	<span ng-show="money_fee.inmoney_fee_type == 1">{{currency_symbol}}{{money_fee.inmoney_fee}}</span>
	        	实际支付：<span ng-show="money_fee.inmoney_fee_type == 0">{{deposit.amount>0?(deposit.amount*(money_fee.inmoney_fee/100+1)).toFixed(2):0}}</span>
	        	<span ng-show="money_fee.inmoney_fee_type == 1">{{deposit.amount>0?deposit.amount+money_fee.inmoney_fee:0}}</span>
	        </footer>
	        <button class="newbutton outmoneybtn" ng-disabled="pay_channel_lists.length === 0||deposit.amount==''||deposit.amount==undefined||deposit.amount<money_fee.inmoneymin" ng-click="submit_deposit()">确认充值</button>
    	</div>
	</ion-content>
</ion-modal-view>
