<ion-modal-view class="order-modal">
    <ion-header-bar class="order-modal-header">
        <h1 class="title">今日资金流水</h1>
        <div class="close" ng-click="capital_history_modal_hide()">
            <i class="icon ion-ios-close-empty"></i>
        </div>
    </ion-header-bar>
    <ion-content class="person_money_list">
		<ion-scroll style="height:100%">
			<ion-refresher pulling-text="上拉刷新数据" on-refresh="refresh_moneylist_order()">
            </ion-refresher>
			<ul>
                <li  ng-repeat="c in moneyList">
                	<div class="money_list_header" ng-click="show_money_list_footer()">
                		<section ng-class="{'in_money_bg':c.type===1,'out_money_bg':c.type===3,'other_money_bg':c.type!=1&&c.type!=3}">
                			
                		</section><section>
                			<p ng-class="{'in_money':c.type===1,'out_money':c.type===3,'other_money':c.type!=1&&c.type!=3}">{{c.typename}}</p>
                			<p>
                				<i><img src="../img/rmb_logo.png"/></i>
                				<span>{{ c.balance.toFixed(2) }}</span></p>
                			<p>
                				<i><img src="../img/time_logo.png"/></i>
                				<span>{{c.yearTime}}</span>
                				<span>{{c.dayTime}}</span>
                			</p>
                		</section><section ng-class="{'in_money':c.type===1,'out_money':c.type===3,'other_money':c.type!=1&&c.type!=3}">
                			{{ c.amount>0?"+"+c.amount: c.amount}}
                		</section><section class="clickshow icon ion-ios-arrow-up">
                		</section>
                	</div>
                	<article class="today_list_footer">
                		<p>详情：{{ c.remark }}</p>
                	</article>
                </li>
			</ul>
			<ion-infinite-scroll ng-if="has_more_money_order" on-infinite="load_more_money_order()" distance="1%">
            </ion-infinite-scroll>
		</ion-scroll>
    </ion-content>
    <div class="dataChose" style="display: none;">
    	<label>开始：</label>
    	<input type="date" ng-model="choseDate.startDate" required />
    	<label>截止：</label>
    	<input type="date" ng-model="choseDate.overDate" required />
    	<button ng-click="show_money_list()">查询</button>
    </div>
    <div class="button-bar">
        <a class="button button-dark" ng-click="capital_history_modal_hide()">关闭</a>
    </div>
</ion-modal-view>
