<ion-modal-view class="order-modal">
    <ion-header-bar class="order-modal-header">
        <h1 class="title">用户出金</h1>
        <div class="close" ng-click="capital_withdraw_modal.hide()">
            <i class="icon ion-ios-close-empty"></i>
        </div>
    </ion-header-bar>
    <ion-content class="out_money_content">
        <header class="hotbg">
        	<p>中国工商银行</p>
        	<p>622568448999555</p>
        	<i class="iconfont">&#xe632;</i>
        	<i class="iconfont">&#xe632;</i>
        </header>
        <article>
        	<span>
        		<i class="iconfont">&#xe618;</i>
        		提现金额：
        	</span>
        	<input type="number" placeholder="请输入提现金额"/>
        </article>
    </ion-content>
    <div class="button-bar">
        <a class="button button-balanced" ng-click="out_withdraw()">提交</a>
        <a class="button button-dark" ng-click="capital_withdraw_modal.hide()">关闭</a>
    </div>
</ion-modal-view>
