<ion-modal-view class="order-modal">
    <ion-header-bar class="order-modal-header">
        <h1 class="title">资金流水</h1>
        <div class="close" ng-click="capital_history_modal.hide()">
            <i class="icon ion-ios-close-empty"></i>
        </div>
    </ion-header-bar>
    <ion-content class="order-modal-content">
    <div class="order-view person_money_list">
            <ion-scroll>
            <ul ng-repeat="c in moneyList">
                <li  class="money_list_header">
                	<span>{{ c.remark }}</span>
                	<span ng-class="{ 'rise' : c.amount >= 0, 'fall' : c.amount < 0 }">{{ c.amount>0?"+"+c.amount: c.amount}}</span>
                </li>
                <li class="money_list_footer">
                	<p>
                		<span>{{c.yearTime}}</span>
                		<span>{{c.dayTime}}</span>
                	</p>
                	<span>{{ c.balance.toFixed(2) }}</span>
                </li>
            </ul>
            </ion-scroll>
    </div>
    </ion-content>
    <div class="dataChose" style="display: none;">
    	<label>开始：</label>
    	<input type="date" ng-model="choseDate.startDate" required />
    	<label>截止：</label>
    	<input type="date" ng-model="choseDate.overDate" required />
    	<button ng-click="show_money_list()">查询</button>
    </div>
    <div class="button-bar">
        <a class="button button-dark" ng-click="capital_history_modal.hide()">关闭</a>
    </div>
</ion-modal-view>
