<ion-modal-view class="order-modal">
    <ion-header-bar class="order-modal-header">
        <h1 class="title">用户入金</h1>
        <div class="close" ng-click="capital_deposit_modal.hide()">
            <i class="icon ion-ios-close-empty"></i>
        </div>
    </ion-header-bar>
    <ion-content id="in_money_content">
    	<header>
			<ion-radio name="pay_type" ng-model="deposit.pay_type" ng-value="'huichao'"  ng-show="pay_type_list.indexOf('huichao') != -1">
				<div class="pay_bank_list_header">
					<div class="kuang"></div>
					<i class="pay_blue_bg"></i>
					<article>
						<p class="pay_blue"><span class="iconfont icon--19"></span><span>快捷支付</span></p>
						<p><span class="iconfont {{inmoneybank.bankmes.icon}}"></span><span>{{inmoneybank.bankmes.name}}</span></p>
					</article>
				</div>
	        </ion-radio>
	        <ion-radio name="pay_type" ng-model="deposit.pay_type" ng-value="'huanxun'"  ng-show="pay_type_list.indexOf('huanxun') != -1">
				<div class="pay_bank_list_header">
					<div class="kuang"></div>
					<i class="pay_blue_bg"></i>
					<article>
						<p class="pay_blue"><span class="iconfont icon--19"></span><span>快捷支付</span></p>
						<p><span class="iconfont {{inmoneybank.bankmes.icon}}"></span><span>{{inmoneybank.bankmes.name}}</span></p>
					</article>
				</div>
	       </ion-radio>
	        <div ng-show="deposit.pay_type == 'huichao' || deposit.pay_type == 'huanxun'" class="pay_bank_list_content" >
				<ion-scroll style="height: 100%;" scrollbar-y="true" scrollbar-x="false">
					<ul>
						<li ng-repeat="item in pay_bank_list">
							<div class="kuang"></div>
							<ion-radio name="pay_bank_name" ng-model="inmoneybank.bankmes" ng-value="item" >
					            <p><span class="bankicon iconfont {{item.icon}}"></span><span>{{item.name}}</span></p>
					        </ion-radio>
						</li>
					</ul>
				</ion-scroll>
			</div>
	        
	        <ion-radio class="pay_weixin" name="pay_type" ng-model="deposit.pay_type" ng-value="'wechat'" ng-show="pay_type_list.indexOf('wechat') != -1">
	            <div class="pay_bank_list_header">
	            	<div class="kuang"></div>
					<i class="pay_green_bg"></i>
					<article>
						<p class="pay_green"><span class="iconfont icon-weixin"></span><span>微信支付</span></p>
					</article>
				</div>
	        </ion-radio>
	        
	        <ion-radio class="pay_weixin" name="pay_type" ng-model="deposit.pay_type" ng-value="'weifutong'" ng-show="pay_type_list.indexOf('weifutong') != -1">
	            <div class="pay_bank_list_header">
	            	<div class="kuang"></div>
					<i class="pay_green_bg"></i>
					<article>
						<p class="pay_green"><span class="iconfont icon-weixin"></span><span>微信支付</span></p>
					</article>
				</div>
	        </ion-radio>

	        
	        <ion-radio class="pay_weixin" name="pay_type" ng-model="deposit.pay_type" ng-value="'huanxun_wecat'" ng-show="pay_type_list.indexOf('huanxun_wecat') != -1">
	            <div class="pay_bank_list_header">
	            	<div class="kuang"></div>
					<i class="pay_green_bg"></i>
					<article>
						<p class="pay_green"><span class="iconfont icon-weixin"></span><span>微信支付</span></p>
					</article>
				</div>
	        </ion-radio>
	        
	        <ion-radio class="pay_weixin" name="pay_type" ng-model="deposit.pay_type" ng-value="'alipay'" ng-show="pay_type_list.indexOf('alipay') !=  -1">
	            <div class="pay_bank_list_header">
		            <div class="kuang"></div>
		            <i class="pay_alipay_bg"></i>
					<article>
						<p class="pay_alipay"><span class="iconfont icon-zhifubao"></span><span>支付宝支付</span></p>
					</article>
				</div>
	        </ion-radio>
    	</header>
    	<div class="out_money_content">
    		<article>
	        	<span>
	        		<i class="iconfont icon--5"></i>
	        		充值金额：
	        	</span>
	        	<input type="number" placeholder="请输入金额" ng-model="deposit.amount" ng-keydown="only_number()" required/>
	        </article>
	        <section>单次充值至少¥{{money_fee.inmoneymin}}起</section>
	        <footer>
	        	余额：<span>{{user.amount.toFixed(0)}}</span>
	        	手续费：<span ng-show="money_fee.inmoney_fee_type == 0">{{money_fee.inmoney_fee}}%</span>
	        	<span ng-show="money_fee.inmoney_fee_type == 1">¥{{money_fee.inmoney_fee}}</span>
	        	实际支付：<span ng-show="money_fee.inmoney_fee_type == 0">{{deposit.amount>0?(deposit.amount*(money_fee.inmoney_fee/100+1)).toFixed(2):0}}</span>
	        	<span ng-show="money_fee.inmoney_fee_type == 1">{{deposit.amount>0?deposit.amount+money_fee.inmoney_fee:0}}</span>
	        </footer>
	        <button class="newbutton outmoneybtn" ng-disabled="deposit.amount==''||deposit.amount==undefined||(deposit.amount<money_fee.inmoneymin)" ng-click="submit_deposit()">确认充值</button>
    	</div>
	</ion-content>
</ion-modal-view>
