<div class="history-panel">
    <div class="panel-header">
        持仓明细
        <div class="close" ng-click="toggle_history_order_panel()">
            <i class="icon ion-ios-close-empty"></i>
        </div>
    </div>
    <div class="panel-body">
        <ion-scroll>
            <ion-refresher pulling-text="上拉刷新数据" on-refresh="refresh_order()">
            </ion-refresher>
            <ul class="list">
                <li class="item" ng-repeat="o in trade_order_list" ng-click="show_hold_order_modal(o)">
                    <div class="row" ng-class="{ 'rise' : o.profit > 0, 'fall': o.profit < 0 }">
                        <div class="col">{{ o.assets.name }}</div>
                        <div class="col">{{ o.direction == "1" ? "买涨" : "买跌" }}</div>
                        <div class="col">{{ o.money }}</div>
                        <div class="col">{{ o.buyQoute.toFixed(o.qoute.decimal) }}</div>
                        <div class="col">{{ o.qoute.value.toFixed(o.qoute.decimal) }}</div>
                        <div class="col">{{ o.profit.toFixed(2) }}</div>
                        <div class="col" style="width: 40px;">{{ o.remaining.toFixed(0) }}</div>
                    </div>
                </li>
            </ul>
            <ion-infinite-scroll ng-if="has_more_order" on-infinite="load_more_order()" distance="1%">
            </ion-infinite-scroll>
        </ion-scroll>
    </div>
</div>
