<div class="history-panel">
    <div class="panel-header">
        持仓明细
        <div class="close" ng-click="toggle_history_order_panel()">
            <i class="icon ion-ios-close-empty"></i>
        </div>
    </div>
    <div class="trade_history_list">
    	<ion-scroll style="height: 100%">
    		<ion-refresher pulling-text="上拉刷新数据" on-refresh="refresh_order()">
            </ion-refresher>
        	<ul>
                <li ng-repeat="o in trade_order_list" ng-click="show_hold_order_modal(o);">
                	<section>
                    	<p style="margin: 0">
                    		<span>{{o.assets.name}}</span>
                    		<span ng-class="{'in_money':o.direction === 1,'out_money':o.direction === 0}"><i ng-class="{'buytop':o.direction === 1,'buydown':o.direction === 0}"></i>{{o.direction === 1 ?"买涨":"买跌"}}（¥{{o.money}}）</span>
                    	</p>
                    	<p style="margin: 0">
                    		{{o.buyQoute}}-<span ng-class="{'in_money':o.direction === 1,'out_money':o.direction === 0}">{{ o.qoute.value.toFixed(o.qoute.decimal) }}</span>
                    	</p>
                    	<p style="margin: 0">{{o.created|date:'yyyy-MM-dd HH:mm:ss'}}</p>
                    </section><section>
                    	<p style="margin: 0" ng-class="{'in_money':(o.direction == '0' && o.qoute.value < o.buyQoute) || (o.direction == '1' && o.qoute.value > o.buyQoute) ,'out_money':(o.direction == '1' && o.qoute.value < o.buyQoute) || (o.direction == '0' && o.qoute.value > o.buyQoute)}">{{(o.direction == '0'  && o.qoute.value > o.buyQoute) || (o.direction == '1' && o.qoute.value  < o.buyQoute)? o.profit - o.money: o.profit + o.money}}</p>
                    	<p style="margin: 0">{{o.remaining*1000|date:'00:mm:ss'}}</p>
                	</section>
                	<article ng-hide="o.remaining === 0">
            		<span class="move_width" ng-style="{'animation-duration':o.cycle+'s','-webkit-animation-duration':o.cycle+'s'}">
            		</span>
            		<i>
            			<em></em>
            		</i>
            		</article>
                </li>
			</ul>
    		<ion-infinite-scroll ng-if="has_more_order" on-infinite="load_more_order()" distance="1%">
            </ion-infinite-scroll>
        </ion-scroll>
    </div>
</div>
