<div class="history-panel">
    <div class="panel-header">
        持仓明细
        <div class="close" ng-click="toggle_history_order_panel()">
            <i class="icon ion-ios-close-empty"></i>
        </div>
    </div>
    <div class="panel-body">
        <ion-scroll>
        <ul class="list">
            <li class="item">
                <div class="row">
                    <div class="col">商品</div>
                    <div class="col">类型</div>
                    <div class="col">金额</div>
                    <div class="col">盈亏</div>
                </div>
            </li>
            <li class="item" ng-repeat="o in order_list" ng-click="show_hold_order_modal(o)">
                <div class="row" ng-class="{ 'rise' : o.profit > 0, 'fall': o.profit < 0 }">
                    <div class="col">{{ o.assets.name }}</div>
                    <div class="col">{{ o.direction == "1" ? "买涨" : "买跌" }}</div>
                    <div class="col">{{ o.money }}</div>
                    <div class="col">{{ o.profit }}</div>
                </div>
            </li>
        </ul>
        </ion-scroll>
    </div>
</div>
