<div class="order-panel">
    <div class="panel-header">
        交易
        <div class="close" ng-click="toggle_order_panel()">
            <i class="icon ion-ios-close-empty"></i>
        </div>
    </div>
    <div class="panel-body">
        <div class="order-info">
            <ul class="list">
                <li class="item order-qoute" ng-class="{ 'rise' : trade_qoute.Fluctuation, 'fall' : !trade_qoute.Fluctuation }">
                    {{ trade_qoute.value.toFixed(trade_qoute.decimal) }}
                </li>
                <li class="item item-input">
                    <span class="input-label">类型</span>
                    <span class="content-label">{{ order_params.direction == "1" ? "买涨" : "买跌" }}</span>
                </li>
                <li class="item item-input item-select">
                    <span class="input-label">周期</span>
                    <select ng-model="order_params.period" ng-options="c.time for c in trade.cycle">
                    </select>
                </li>
                <li class="item item-input item-select">
                    <span class="input-label">金额</span>
                    <select ng-model="order_params.amount" ng-options="a for a in trade.amounts">
                    </select>
                </li>
            </ul>
        </div>
        <div class="button-bar">
            <button class="button-update-order" ng-click="order()">
                确定
            </button>
        </div> 
    </div>
</div>
