<ion-view hide-nav-bar="true" class="web-install">
    <div class="header">
        <div class="icon">
            <img src="img/logo.png" />
        </div>
        <div class="content">
            <div class="title">
                <h5>中宝微盘</h5>
            </div>
            <div class="sub-title">
                云软数据
            </div>
            <div class="operate">
                <div class="star">
                    <i class="ion-star"></i>
                    <i class="ion-star"></i>
                    <i class="ion-star"></i>
                    <i class="ion-star"></i>
                    <i class="ion-star"></i>
                </div>
                <button class="button button-light button-small">
                    获取
                </button>
            </div>
        </div>
    </div>
    <div class="screen-preview">
        <ion-scroll>
            <img src="img/screen-login.jpeg" />
            <img src="img/screen-login.jpeg" />
            <img src="img/screen-login.jpeg" />
            <img src="img/screen-login.jpeg" />
            <img src="img/screen-login.jpeg" />
        </ion-scroll>
    </div>
    <div class="introduce">
    </div>
    <div class="news">
    </div>
</ion-view>
