<div class="side-menu">
    <ul>
        <li class="side-brand">
            <h4>
                {{ user.username }}
            </h4>
            <div class="widget">
                <span>帐户余额</span>
                <span ng-class="{ 'rise' : user.amount >= 0, 'fall' : user.amount < 0 }">
                    {{ user.amount.toFixed(2) }}
                </span>
            </div>
        </li>
        <li>
            <a href="#/tab/qoute" class="menu-close">
                <i class="ion-ios-pulse-strong" aria-hidden="true"></i>行情报价
            </a>
        </li>
        <li>
            <a href="#/tab/history/0" class="menu-close">
                <i class="ion-ios-photos" aria-hidden="true"></i>交易历史
            </a>
        </li>
        <li>
            <a href="#/tab/profile" class="menu-close">
                <i class="ion-ios-person" aria-hidden="true"></i>个人信息
            </a>
        </li>
        <li ng-show="show_update">
            <a href="javascript:;" class="menu-close" ng-click="check_update(true)">
                <i class="ion-ios-person" aria-hidden="true"></i>检查更新
            </a>
        </li>
        <li>
            <a href="javascript:;" class="menu-close" ng-click="app_exit();">
                <i class="ion-log-out" aria-hidden="true"></i>退出
            </a>
        </li>
    </ul>
</div>
