<ion-view hide-nav-bar="true" class="signin-view">
<ion-content class="signup-scroll">
<div class="sign_up">
    <div class="sign_up_content">
        <ul class="sign_up_list">
            <li  class="newinput" ng-show="show_signup_code">
                <span class="input-text">
                    手机号码:
                </span>
                <input type="text" placeholder="手机号码" ng-model="users.phone" required />
            </li>
            <li class="newinput input_iphone_code">
                <span class="input-text">
                    验证码:
                </span>
                <input type="text" placeholder="短信验证码" ng-model="users.code" />
                <button class="code_btn" ng-disabled="sms_remaining != 0" ng-click="get_verify()">
                    {{ sms_btn_text }}
                </button>
            </li>
            <li class="newinput">
                <span class="input-text">
                    密码:
                </span>
                <input type="password" placeholder="密码" ng-model="users.passwd" required />
            </li>
            <li class="newinput">
                <span class="input-text">
                    确认密码:
                </span>
                <input type="password" placeholder="确认密码" ng-model="users.confirm" required />
            </li>
            <li class="newinput">
                <span class="input-text">
                    推荐码:
                </span>
                <input class="sign_code" placeholder="推荐码" ng-model="users.referralcode" />
            </li>
            <li class="sign_up_check">
            	<ion-checkbox ng-model="users.weixinId" style="display: none;">
                    同时绑定当前微信号免登录进入
               </ion-checkbox>
                <ion-checkbox ng-model="users.agree">
                    <p>我已阅读</p>
                </ion-checkbox>
                <a href="#/cpa">《客户协议》</a>以及
                <a href="#/tpa">《交易协议》</a>
            </li>
        </ul>
        <button class="newbutton sign_up_btn" ng-click="signup()"
            ng-disabled="!users.phone || !users.code || !users.passwd || !users.confirm || !users.agree || (users.passwd!==users.confirm)">
            注册登陆
        </button>
    </div>
    <div class="signin-footer">
        <a href="#/signin">已有帐户，登陆</a>
    </div>
</div>
<div class="spinner-view hide">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
    <div class="message" ng-class="{ 'fadein' : message }">{{ message }}</div>
</div>
</ion-content>
</ion-view>
