<ion-view view-title="交易历史" hide-nav-bar="{{ !show_nav_bar }}">
    <ion-nav-buttons side="right">
        <button class="button hide" ng-click="toggleRightSideMenu()">
            筛选
        </button>
    </ion-nav-buttons>
    <ion-content class="content-background" scroll="false">
        <div class="qoute-category">
            <ul>
                <li ng-click="change_category(0)" ng-class="{ 'active' : category_index === 0 }"> 
                    持仓明细
                </li>
                <li ng-click="change_category(1)" ng-class="{ 'active' : category_index === 1 }">
                    历史明细
                </li>
            </ul>
        </div>

        <ion-slide-box delegate-handle="slide-history" on-slide-changed="slide_change($index)" 
        show-pager="false" active-slide="category_index" class="slide-history">
            <ion-slide>
            	<ul>
            		<ion-scroll>
                        <ion-refresher pulling-text="上拉刷新数据" on-refresh="refresh_order()">
                        </ion-refresher>
                        <li ng-repeat="o in order_list">
                            <li ng-class="{ 'rise' : o.profit >= 0, 'fall' : o.profit < 0 }"
                                ng-click="show_hold_order_modal(o);">
                                {{ o.assets.name }}
                            </li>
                            <li ng-class="{ 'rise' : o.profit >= 0, 'fall' : o.profit < 0 }"
                                ng-click="show_hold_order_modal(o);" class="category">
                                {{ o.direction == "0" ? "买跌" : "买涨" }}
                            </li>
                            <li ng-class="{ 'rise' : o.profit > 0, 'fall' : o.profit < 0 }" ng-click="show_hold_order_modal(o);">
                                {{ o.money }}
                            </li>
                            <li ng-class="{ 'rise' : o.profit >= 0, 'fall' : o.profit < 0 }" ng-click="show_hold_order_modal(o);">
                                {{ o.qoute.value.toFixed(o.qoute.decimal) }}
                            </li>
                            <li ng-class="{ 'rise' : o.profit >= 0, 'fall' : o.profit < 0 }" ng-click="show_hold_order_modal(o);">
                                {{ o.profit.toFixed(2) }}
                            </li>
                            <li ng-class="{ 'rise' : o.profit >= 0, 'fall' : o.profit < 0 }" ng-click="show_hold_order_modal(o);">
                                {{ o.remaining.toFixed(0) }}
                            </li>
                        </li>
                        <ion-infinite-scroll ng-if="has_more_order" on-infinite="load_more_order()" distance="1%">
                        </ion-infinite-scroll>
                    </ion-scroll>
            	</ul>
            </ion-slide>
            <ion-slide>
                <div class="order-view">
                    <div class="order-view-content">
                        <ion-scroll>
                            <ion-refresher pulling-text="上拉刷新数据" on-refresh="refresh_close_order()">
                            </ion-refresher>
                            <ul ng-repeat="o in close_order_list">
                                <li ng-class="{ 'rise' : o.profit >= 0, 'fall' : o.profit < 0 }"
                                    ng-click="show_close_order_modal(o);">
                                    {{ o.assets.name }}
                                </li>
                                <li ng-class="{ 'rise' : o.profit >= 0, 'fall' : o.profit < 0 }"
                                    ng-click="show_close_order_modal(o);" class="category">
                                    {{ o.direction == 0 ? "买跌" : "买涨" }}
                                </li>
                                <li ng-class="{ 'rise' : o.profit >= 0, 'fall' : o.profit < 0 }"
                                    ng-click="show_close_order_modal(o);">
                                    {{ o.money }}
                                </li>
                                <li ng-class="{ 'rise' : o.profit >= 0, 'fall' : o.profit < 0 }"
                                    ng-click="show_close_order_modal(o);">
                                    {{ o.profit }}
                                </li>
                            </ul>
                            <ion-infinite-scroll ng-if="has_more_close_order" on-infinite="load_more_close_order()" distance="1%">
                            </ion-infinite-scroll>
                        </ion-scroll>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
