<ion-view view-title="个人中心" hide-nav-bar="{{ iswecat }}">
    <ion-content class="personalbg" scroll="false">
		<header>
			<i ng-click="app_exit()" class="iconfont icon--9"></i>
			<article>
				<img src="img/logobg.jpg" />
			</article>
			<p>{{ user.username }}<span class="iconfont icon--3" ng-click="show_user_modal()"></span></p>
			<p>¥{{user.amount.toFixed(2)}}</p>
		</header>
		<ul>
			<li>
				<section ng-click="show_user_bank_modal()">
					<i class="iconfont icon--19"></i>
					<p>签约</p>
				</section>
			</li>
			<li>
				<section ng-click="show_deposit_modal()">
					<i class="iconfont icon--5"></i>
					<p>用户入金</p>
				</section>
			</li>
			<li>
				<section ng-click="show_withdraw_modal()">
					<i class="iconfont icon--4"></i>
					<p>用户出金</p>
				</section>
			</li>
			<li>
				<section ng-click="show_money_list()">
					<i class="iconfont icon---"></i>
					<p>资金流水</p>
				</section>
			</li>
		</ul>
		<footer>
			<div class="erwema_img">
            	<img ng-src="{{ qrcode_url }}" alt="我的二维码" />
        	</div>
        	<p>
        		<span>扫描二维码注册</span>
        		<span style="display: none;">分享<i class="iconfont">&#xe651;</i></span>
        	</p>
		</footer>
    </ion-content>
</ion-view>
