<ion-view view-title="行情" hide-nav-bar="{{ !show_nav_bar }}">
    <ion-content class="content-background" scroll="false">
        <div class="qoute-category">
            <ul>
                <li ng-repeat="c in category_list" ng-click="change_category($index)" 
                ng-class="{ 'active' : category_index === $index }"> 
                    {{ c.name }}
                </li>
            </ul>
        </div>
        <ion-slide-box delegate-handle="slide-qoute" on-slide-changed="slide_change($index)" 
        show-pager="false" class="slide-qoute">
            <ion-slide ng-repeat="c in category_list">
                <div class="qoute-view">
                    <div class="qoute-view-header">
                        <ul>
                            <li>商品名称</li>
                            <li>现价</li>
                            <li>涨跌</li>
                            <li>涨跌幅</li>
                        </ul>
                    </div>
                    <div class="qoute-view-content">
                        <ion-scroll>
                            <ul ng-repeat="q in qoute_list | filter: { mode: c.mode }">
                                <li>
                                    <a href="#/trade/{{ q.Id }}">{{ q.name }}</a>
                                </li>
                                <li>
                                    <a ng-class="{ 'rise' : q.state == 'up', 'fall' : q.state == 'down' }" href="#/trade/{{ q.mode }}/{{ q.market }}/{{ q.code }}">
                                        {{ q.value.toFixed(q.decimal) }}
                                    </a>
                                </li>
                                <li>
                                    <a ng-class="{ 'rise' : q.state == 'up', 'fall' : q.state == 'down' }" href="#/trade/{{ q.mode }}/{{ q.market }}/{{ q.code }}">
                                        {{ q.change_value }}
                                    </a>
                                </li>
                                <li>
                                    <a ng-class="{ 'rise' : q.state == 'up', 'fall' : q.state == 'down' }" href="#/trade/{{ q.mode }}/{{ q.market }}/{{ q.code }}">
                                        {{ q.change_percent }}
                                    </a>
                                </li>
                            </ul>
                        </ion-scroll>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
