<ion-view view-title="个人中心" hide-nav-bar="{{ !show_nav_bar }}">
    <ion-content class="profile-background" scroll="false">
    	<header class="row ">
	        <div class="col">
	            用户:
	            <span>
	                {{ account.username }}
	            </span>
	        </div>
	        <div class="col">
	            余额:
	            <span ng-class="{ 'rise' : account.amount >= 0, 'fall' : account.amount < 0 }">
	                {{ account.amount.toFixed(2) }}
	            </span>
	        </div>
	    </header>
	    <div class="row profile-capital">

	        <a class="col" href="javascript:;" ng-click="show_user_modal()">
	            个人资料
	        </a>
	        <a class="col" href="javascript:;" ng-click="show_money_list();capital_history_modal.show()">
	            资金流水
	        </a>
	    </div>
	    <div class="row profile-capital">
	        <a class="col" href="javascript:;" ng-click="show_deposit_modal()">
	            用户入金
	        </a>
	        <a class="col" href="javascript:;" ng-click="show_withdraw_modal()">
	            用户出金
	        </a>
	    </div>
	    <!--<div class="row profile-capital">
	        <a class="col" href="javascript:;" ng-click="show_bank_modal()">
	        	<i class="icon ion-social-usd"></i>
	            银行卡签约
	        </a>
	        <a class="col" href="javascript:;" ng-click="show_report_form()">
	            报表
	        </a>

	    </div>-->
	    <div class="row profile-capital">
	        <a class="col" style="margin: 0 !important;" href="javascript:;" ng-click="app_exit()">
	            退出
	        </a>
	    </div>
	    <div id="code">
            <img src="{{ qrcode_url }}" alt="我的二维码" />
        </div>
    </ion-content>
</ion-view>
