<ion-tabs class="tabs-icon-top navbar">

  <ion-tab title="商品行情"  href="#/tab/qoute" class="iconfont icon-5-01 tabnone">
    <ion-nav-view name="tab-qoute" >
    </ion-nav-view>
  </ion-tab>

  <ion-tab title="交易记录"  href="#/tab/history/0" class="iconfont icon-8-01 tabnone">
    <ion-nav-view name="tab-history"></ion-nav-view>
  </ion-tab>

  <ion-tab title="个人账户"  href="#/tab/profile" class="iconfont icon-9-01 tabnone">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

</ion-tabs>
