<ion-tabs class="tabs-icon-top navbar">

  <ion-tab title="行情" icon-off="ion-earth" icon-on="ion-earth" href="#/tab/qoute">
    <ion-nav-view name="tab-qoute"></ion-nav-view>
  </ion-tab>

  <ion-tab title="交易历史" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/tab/history/0">
    <ion-nav-view name="tab-history"></ion-nav-view>
  </ion-tab>

  <ion-tab title="个人" icon-off="ion-person" icon-on="ion-person" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

</ion-tabs>
