<ion-view  view-title="{{ qoute.name }}" class="trade-view" hide-nav-bar="{{ iswecat }}">
    <ion-nav-buttons side="left">
        <a href="#/tab/qoute" class="back-button">
            <i class="icon ion-ios-arrow-left"></i>
        </a>
    </ion-nav-buttons>
    <ion-content class="trade-content content-background" scroll="true">
		<header>
			<section ng-class="{ 'rise' : qoute.state == 'up', 'fall' : qoute.state == 'down' }">
				{{ qoute.value.toFixed(qoute.decimal) }}
			</section>
			<section>
				<p>开盘</p>
				<p ng-class="{ 'rise' : qoute.state == 'up', 'fall' : qoute.state == 'down' }">{{ qoute.open.toFixed(qoute.decimal) }}</p>
			</section>
			<section >
				<p>最低</p>
				<p ng-class="{ 'rise' : qoute.state == 'up', 'fall' : qoute.state == 'down' }">{{ qoute.low.toFixed(qoute.decimal) }}</p>
			</section>
			<section>
				<p>最高</p>
				<p ng-class="{ 'rise' : qoute.state == 'up', 'fall' : qoute.state == 'down' }">{{ qoute.high.toFixed(qoute.decimal) }}</p>
			</section>
		</header>
		<nav>
			<article>
				<span class="trade-chart-type stock active" ng-click="change_chart_type('stock')">k线</span>
				<span class="trade-chart-type line" ng-click="change_chart_type('line')">走势</span>
			</article>
			<section class="trade-chart-period m1" ng-click="change_chart_period('m1')">1M</section>
			<section class="trade-chart-period m5 active" ng-click="change_chart_period('m5')">5M</section>
			<section class="trade-chart-period m15" ng-click="change_chart_period('m15')">15M</section>
			<section class="trade-chart-period m30" ng-click="change_chart_period('m30')">30M</section>
			<section class="trade-chart-period h1" ng-click="change_chart_period('h1')">1H</section>
			<section class="trade-chart-period d1" ng-click="change_chart_period('d1')">1D</section>
		</nav>
		<footer>
			<ng-echarts ec-config="chart_config"  ec-option="chart_option" class="history_chart"></ng-echarts>
                <div class="chart-tip">
                    <ul>
                        <li class="history-time">{{ history_qoute.datetime.split(" ")[1] }}</li>
                        <li class="history-open">{{ history_qoute.open.toFixed(qoute.decimal) }}</li>
                        <li class="history-close">{{ history_qoute.close.toFixed(qoute.decimal) }}</li>
                        <li class="history-high">{{ history_qoute.high.toFixed(qoute.decimal) }}</li>
                        <li class="history-low">{{ history_qoute.low.toFixed(qoute.decimal) }}</li>
                    </ul>
                </div>
                <div class="func-tip">
                    <ul>
                        <li class="history-time">DIFF:{{ diff[diff.length - 1].toFixed(4) }}</li>
                        <li class="history-open">DEA:{{ dea[dea.length - 1].toFixed(4) }}</li>
                        <li class="history-close">MACD:{{ macd[macd.length - 1].toFixed(4) }}</li>
                    </ul>
                </div>
		</footer>
    </ion-content>
	<div class="trade_bar">
		<section ng-click="toggle_history_order_panel()">
			<i class="icon--14 iconfont"></i>
            <p>持仓<span ng-show="order_list">({{ trade_order_list.length }})</span></p>
		</section>
		<section ng-click="toggle_order_confirm_panel('lookup')">
			<i class="iconfont icon--18"></i>
            <p>买涨</p>
		</section>
		<section ng-click="toggle_order_confirm_panel('lookdown')">
			<i class="iconfont icon--17"></i>
            <p>买跌</p>
		</section>
	</div>
    </div>
    <div ng-include="'templates/order-confirm-panel.html'"></div>
    <div ng-include="'templates/order-state-panel.html'"></div>
    <div ng-include="'templates/history-order-panel.html'"></div>
</ion-view>
