{% extends "share/master.html" %}
{% block title %}权限管理{% end %}                                                     
{% block main %}
<div class="page-inner">
    <div class="page-title">                                                               
        <h3>权限管理</h3>
        <div class="page-breadcrumb">
            <ol class="breadcrumb">
                <li><a href="#">权限管理</a></li>
                <li class="active">权限管理</li>
            </ol>
        </div>
    </div>
    <div id="main-wrapper">                                     
        <div class="row m-t-md">
            <div class="col-md-12">
                <div class="row mailbox-header">
{#                     {% if "permissionpea" in UP %}
                        <div class="pull-left" style="padding:0 0 0 15px">
                            <a href="/permission/edit" class="btn btn-success">添加权限</a>
                        </div>
                    {% end %}
                    {% if "permissionped" in UP %}
                        {% if "permissionpea" not in UP %}
                            <div class="pull-left" style="padding:0 0 0 60px">
                                <a href="#" id="delete" class="btn btn-success">删除</a>
                            </div>
                        {% else %}
                            <div class="pull-left" style="padding:0 0 0 15px">
                                <a href="#" id="delete" class="btn btn-success">删除</a>
                            </div>
                        {% end %}
                    {% end %} #}
                    {% if "permissionpec" in UP %}
                        <div class="col-md-3 col-sm-3 col-xs-3 pull-right">
                            <form action="/permission" method="post">
                                <div class="input-group">
                                    <input type="text" name="key" class="form-control input-search" placeholder="查找">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="submit"><i class="fa fa-search"></i></button>
                                    </span>
                                </div><!-- Input Group -->
                            </form>
                        </div>
                    {% end %}
                </div>
                <div class="mailbox-content panel">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <div id="example_wrapper" class="dataTables_wrapper">
                                <table id="example" class="table dataTable display">
                                    <thead>
                                        <tr>
                                            <th colspan="1" style="width:20px;">
                                                <span><input id="selectall" type="checkbox" class="check-mail-all"></span>
                                            </th>
                                            <th nowrap="nowrap">
                                                <span>权限名称</span>
                                            </th>
                                            <th nowrap="nowrap">
                                                <span>权限标识</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in permission %}
                                        <tr class="unread">
                                            <td>
                                                <span><input type="checkbox" class="checkbox-mail cb" data-id={{ i._id}} /></span>
                                            </td>
                                            <td>
                                                {{ i.name or "" }}
{#                                                 {% if "permissionpem" in UP %}
                                                    <a href="/permission/edit?id={{ i._id }}">
                                                        {{ i.name or "" }}
                                                    </a>
                                                {% else %}
                                                    {{ i.name or "" }}
                                                {% end %} #}
                                            </td>
                                            <td>
                                                {{ i.code or "" }}
                                            </td>
                                        </tr>
                                    {% end %}
                                    </tbody>
                                </table>
                                {% include "share/pagination.html" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Page Inner -->
{% end %}
{% block script %}
    <script type="text/javascript">
        $("#selectall").change(function() {
            src = this;
            $(".cb").each(function(i, item) {
                $(item).prop('checked', src.checked)
                console.dir(item)
            });
            $.uniform.update()
        });

        $("#delete").on("click", function() {
            var ids = new Array();
            $("table>tbody .checker .checked input").each(function(index, e) {
                ids.push($(e).attr("data-id"));
            });

            $.post("/permission/delete", { "id" : ids.toString() }, function(res){
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'fadeIn',
                    hideMethod: 'fadeOut',
                    timeOut: 1000
                };

                if(res.status === "ok") {
                    toastr.success('操作成功!', '操作成功');
                    setTimeout(function() {
                        window.location.href = "/permission"
                    }, 1000);
                } else if(res.status === "warning") {
                    toastr.options = {
                        closeButton: true,
                        progressBar: true,
                        showMethod: 'fadeIn',
                        hideMethod: 'fadeOut',
                        timeOut: 3000
                    };

                    toastr.warning(res.desc, '部分删除');
                    setTimeout(function() {
                        window.location.href = "/permission"
                    }, 3000);
                } else {
                    toastr.error(res.desc, '操作失败');
                }
            });
        });
    </script>
{% end %}
