{% extends "share/master.html" %}
{% block title %}出金{% end %}

{% block main %}
<div class="page-inner">
    <div class="page-title">                
        <h3>出金</h3>
    </div>
    <div id="main-wrapper">                         
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="amount" class="col-md-2 control-label">出金金额：</label>
                                <div class="col-md-2">
                                    <input id="amount" type="text" class="form-control" placeholder="金额" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="handling_charge" class="col-md-2 control-label">手续费：</label>
                                <div class="col-md-2">
                                    <input id="handling_charge" type="text" class="form-control" readonly="" value="{{handling_charge}}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input id="id" type="hidden" class="form-control" value="{{ current_user._id }}" />
                                    <a id="save_pay" href="#" class="btn btn-success" style="width:100px;margin-right:5px;">保存</a>
                                    <button type="button" class="btn btn-default" style="width:80px;" onClick="javascript :history.back(-1);">返回</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}

{% block script %}
<script type="text/javascript">
    $("#save_pay").click(function() {
        id = $("#id").val();
        amount = $("#amount").val();

        $.post("/pay", { "id" : id, "amount" : amount }, function(res){
            toastr.options = {
                closeButton: true,
                progressBar: true,
                showMethod: 'fadeIn',
                hideMethod: 'fadeOut',
                timeOut: 1000
            };

            if(res.status === "ok") {
                toastr.success('操作成功!', '操作成功');

                setTimeout(function() {
                    window.location.href = "/payreport"
                }, 1000);
            } else {
                toastr.error(res.desc, '操作失败');
            }
        });
    });
</script>
{% end %}
